/*CSS CHUNG*/
body{
	font-size: 14px;
}
p{
	margin-bottom: 0px;
}
a:hover{
	text-decoration: none;
}
/*CSS HEADER*/
header{
	position: relative;
}
.header-top{
	background-color: #f5f5f5;
	height: 33px;
}
.header-contact{
	position: absolute;
	right: 82px;
	display: flex;
	height: 33px;
	width: 361px;
}
.header-hotline{
	display: flex;
	align-items: center;
	padding-right: 18px;
}
.header-logo-social{
	padding-top: 4px;
	display: flex;
}
.header-logo-social a{
	text-align: center;
	display: block;
	width: 40px;
	border-left: 1px solid #d8d8d8;
}
.header-bot{
	padding-top: 14px;
}
.header-bot-searchForm{
	padding-top: 40px;
}
.header-bot-searchForm input{
	width: 356px;
    height: 33px;
    padding-left: 13px;
    outline: none;
}
.header-bot-image{
	padding-top: 40px;
}
.header-bot-image .hbi{
	padding: 0px;
	display: flex;
    align-items: center;
}
/*CSS NAVIGATION*/
nav{
	margin-top: 18px; 
}
nav a{
	color: #ffffff;
	font-weight: bold;
	line-height: 40px;
}
nav a:hover{
	color: #ff3f00; 
}
.nav-toogle{
	background-color: #ff3f00;
}
.nav-background{
	background-color: #46ad0e;
}
.nav-item-list{
	display: flex;
	justify-content: space-between;
}
/*CSS MENU HOVER*/
.menu-hover{
	background-color: #f4f4f4;
	display: none;
}
.menu-hover-item{
	display: flex;
	height: 46px;
	align-items: center;
	border-bottom: 1px solid #dedede;
}
.menu-hover-item p{
	margin-left: 10px;
}
/*CSS SECTION*/
.item-small-list{
	text-align: center;
}
.item-main-price{
	display: flex;
	align-items: center;
}
.price, .number, .button-buy{
		width: 140px;
}
.price h3{
	color: #ff3f00;
}
.button-buy{
	margin-top: 25px;
	width: 139px;
    background: #46ad0e;
    border-radius: 5px;
    height: 37px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}
.button-buy a{
	color: white;
}
.item-main-short-details,.tag,.like{
	margin-top: 25px;
}
.background-tab{
	height: 41px;
	position: relative;
	background-color: #46ad0e;
	padding-left: 20px;
	width: 100%;
	margin-top: 46px;
}
.nav-tabs{
	position: absolute;
	bottom: 0px;
}
.nav-tabs a{
	color: black !important;
	font-weight: bold;
}
.text{
	margin-top: 64px;
}
.text-content{
	/*line-height: 30px;*/
}
.text-image{
	border: 1px solid #ccc;
	border-radius: 5px;
	height: fit-content;
    padding: 10px;
}
.text-image img{
	width: 100%;
}

/*CSS SANPHAMLIENQUAN*/
.title-item{
	margin-top: 64px;
}
.intro-title{
	margin: 20px 0px 20px 0px;
}
.intro-main-title-background{
	background-color: #f3f3f3;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 104%;
}
.intro-main-title{
	background-color: #46ad0e;
	width: 257px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 46px;
	color: white;
	font-weight: bold;
	align-items: center;
	/*margin: 22px 0px 35px 0px;*/
	position: relative;
}
.intro-main-title-1{
	display: flex;
	align-items: center;
}

.intro-main-title:after{
	content: "";
    height: 32px;
    width: 36px;
    transform: rotate(45deg);
    right: -18px;
    position: absolute;
    background: #46ad0e;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
	
}
.intro-main-title-1 p{
	margin-left:5px;
}
/*CSS ITEM*/
.title-item{
	padding: 0;
}
.item-title{
	text-align: center;
	margin-top: 15px;
}
.small-item{
	/*border: 1px solid #dedede;
	border-radius: 5px;*/
	position: relative;
}
.hot-item .col-lg-9 .row:nth-of-type(2){
    margin-top: 65px;
}.small-item-list .row{
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
}
.overlay{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	height: 0px;
	width: 200px;
	background: #6bc04b;
	transition: all 0.3s ease;
	opacity: 0.8;
	z-index: -1;
	padding: 20px 20px;
}
.small-item:hover .overlay{
	height: 200px;
	z-index: 1;
}
.overlay-button a{
	border-radius: 5px;
	background: #fff;
	padding: 2px 5px;
	color: black;
}
.overlay-button{
	margin-top: 20px;
}
/*CSS FOOTER*/
footer{
	margin-top: 76px;
	flex-direction: column;
}
.footer-navigation{
	background-color: #36880b;
	display: flex;
	height: 52px;
}
.footer-contact{
	display: flex;
	justify-content: space-between;
}
.footer-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
}
.footer-menu-item{
	margin-right: 30px;
}
.footer-menu a{
	color: #ffffff;
}
.footer-social{
	display: flex;
	align-items: center;
}
.footer-social p{
	color: #ffffff;
}
.footer-social-item{
	margin-right: 5px;
}
/*FOOTER-MAIN*/
.footer-main{
	background: url("../img/bg_footer.png");
}
.footer-main .container{
	padding: 42px 0px 69px 0px;
	display: flex;
	justify-content: space-between;
}
.footer-main-info{
	color: white;
}
.footer-main-info-item{
	display: flex;
}
.footer-main-info-item p{
	line-height: 30px;
}