@font-face {
    font-family: HelveticaNeueLTCom-Roman;
    src: local(HelveticaNeueLTCom-Roman),
    url(HelveticaNeueLTCom-Roman.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: HelveticaNeueLTCom-Md;
    src: local(HelveticaNeueLTCom-Md),
    url(HelveticaNeueLTCom-Md.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal
}
